html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat';
	color: white;
	background: ivory;
}

#main {
	background-image: url("/assets/banner.jpg");
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	height: calc(100vw * 0.569);
}

#title {
	font-family: 'Birthstone';
	color: white;
	font-size: 52px;
	cursor: default;
}

@media screen and (max-width: 800px) {
	nav {
		display: none;
	}
	#main {
		justify-content: center;
		align-items: center;
	}
}

.button {
	background: #FDB970;
	border-radius: 8px;
	padding: 4px;
	display: block;
	text-decoration: none;
	color: inherit;
	margin-top: 20px;
}

@media screen and (min-width: 801px) {
	.button {
		margin: 20px;
	}
}


.button:hover {
	background: #FF992B;
}

.button p {
	color: white;
}

#mobile-title {
	font-family: 'Birthstone';
	font-size: 64px;
	margin: 0;
}

@media screen and (min-width: 801px) {
	#mobile-title {
		display: none;
	}
}

#big-date {
	text-align: center;
	margin: 0;
	font-weight: 400;
}

@media screen and (max-width: 800px) {
	#big-date {
		display: none;
	}
}

#mobile-date {
	font-size: 24px;
	font-weight: 400;
	margin: 0;
}

@media screen and (min-width: 801px) {
	#mobile-date {
		display: none;
	}
}

@media screen and (min-width: 801px) {
	nav {
		display: flex;
	}
}

section {
	color: rgba(0, 0, 0, 0.87);
	padding: 20px;
}

#venue h1 {
	width: 100%;
	text-align: center;
}

#stays h1 {
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
}

@media screen and (max-width: 800px) {
	#stays-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}

@media screen and (min-width: 801px) {
	#stays-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

#content h1 {
	color: #FDB970;
}

@media screen and (max-width: 800px) {
	#venue-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}

@media screen and (min-width: 801px) {
	#venue-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

#venue-address {
	color: black !important;
}

@media screen and (max-width: 800px) {
	#venue-address {
		text-align: center;
		padding: 10px;
		width: 300px;
	}
}

@media screen and (min-width: 801px) {
	#venue-address {
		text-align: center;
		padding: 20px;
		width: 600px;
	}
}

@media screen and (max-width: 800px) {
	#stays-thing {
		text-align: center;
		padding: 10px;
		width: 300px;
	}
}

@media screen and (min-width: 801px) {
	#stays-thing {
		text-align: center;
		padding: 20px;
		width: 600px;
	}
}

#content {
	max-width: 1000px;
	margin: auto;
}

@media screen and (max-width: 800px) {
	#registry-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (min-width: 801px) {
	#registry-container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

#registry h1 {
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
}

#transportation h1 {
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
}

#transportation-container {
	width: 80%;
	margin: auto;
}

#registry-container div {
	text-align: center;
	margin: 30px;
}

#pics {
	display: flex;
	flex-direction: row;
	padding: 0;
}

#pics img {
	width: 33%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#registry img {
	width: 80%;
}

#last {
	display: flex;
}

#last img {
	width: 50%;
}

nav {
	justify-content: space-evenly;
	padding: 10px;
	align-items: center;
}

nav * {
	text-align: center;
	margin: 10px;
	width: 20%;
}

nav a {
	font-size: 18px;
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #FDB970;
}